# virtualenv
.venv
venv

# Packaging
build
dist
*.egg-info

# sqlite DB
db.sqlite3
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media and builded statics
/data/
/sandbox/static

# Settings
local.py

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# VS Code
.vscode

# Mac Os
.DS_Store

# Temp files
*~
.~lock*

# Swap files
*.sw[po]

# JS dependencies
node_modules

# SASS
.sass-cache

# Exported strings & generated translation templates
*.pot
