atomicwrites==1.4.1
attrs==25.3.0
boussole==2.0.0
click==8.1.8
colorama==0.4.6
colorlog==6.10.1
colour==0.1.5
Django==2.0.13
-e git+ssh://git@github.com/sveetch/django-palette.git@154942496e447d07ca1661db45392bfc6b365b5e#egg=django_palette
flake8==3.5.0
libsass==0.23.0
mccabe==0.6.1
more-itertools==10.5.0
pluggy==1.5.0
py==1.11.0
py-css-styleguide==0.4.0
pyaml==25.7.0
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.7.3
pytest-django==3.4.2
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
tinycss2==1.4.0
watchdog==4.0.2
webencodings==0.5.1
whitenoise==4.1.4
