/*
 * Form element objects
 */

form{
    textarea{
        height: 8rem;
    }

    .holder{
        &.button-group{
            &.disabled{
                position: relative;

                // It won't work with mixed '.button' and '<button>' elements
                .button,
                button{

                    &[disabled]{
                        cursor: wait;
                    }

                    &:first-child{
                        position: relative;

                        &::after {
                            @include circle-spinner();
                            z-index: 41;
                        }
                    }
                }
            }
        }
    }
}
