/*
 * Page content component styles
 */

//
// Horizontal rule
//
hr{
    // Full width on default
    max-width: 100%;
}

//
// Top level frontend container
//
.app-root{
    $cell-gutter: 0.5rem;

    width: 100%;

    // Automatically alternate block scheme
    .block{
        position: relative;

        &.auto-alt{
            &::after{
                @include css-triangle(1.5rem, $white, down);
                position: absolute;
                left: calc(50% - 0.75rem);
                bottom: -1.5rem;
                z-index: 40;
            }

            &:nth-child(even){
                @include sv-scheme-colors($gray75-color-scheme);

                &::after{
                    @include css-triangle(1.5rem, $gray75, down);
                }
            }

            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }

    .holder{
        &.button-group{
            margin-top: 2rem;

            button,
            .button{
                &.full{
                    max-width: 44rem;
                }
            }
        }
    }

    // Share error styles
    .error{
        margin-bottom: 0.875rem;
        font-size: 0.875rem;
        padding: 0.4rem;
        color: $white;
        background: $tomato3;

        // For listed global level errors
        &.global{
            background: transparent;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            padding: 0;
            list-style-type: none;

            li{
                padding: 0.4rem;
                background: $tomato3;

                & + li{
                    margin-top: 0.5rem;
                }
            }
        }
    }

    // Source part
    .source-part{
        form{
            margin-left: auto;
            margin-right: auto;
            max-width: 45rem;

            .holder{
                &.textarea{
                    textarea{
                        font-family: $font-family-monospace;
                        font-size: 0.9rem;
                        min-height: 20vh;
                    }
                }
                // Put spinner just before first button instead of horizontal
                // center
                &.button-group{
                    &.disabled{
                        button:first-child{
                            &::after {
                                @include circle-spinner($position-left: -3rem);
                            }
                        }
                    }
                }
            }
        }
    }

    // Palette part
    .palette-part{
        .formset{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > .form-item{
                @include sv-flex($width: calc(20% - #{$cell-gutter * 2}));
                margin: $cell-gutter;
                background: $white;
                border: 1px solid $black;
                border-radius: $extra-radius;

                .tile{
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 8rem;
                    border-bottom: 1px solid $black;
                    border-top-left-radius: $extra-radius;
                    border-top-right-radius: $extra-radius;

                    .code{
                        display: block;
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                        background: rgba($black, 0.6);
                        color: $white;
                        padding: 0.3rem 0.4rem;
                        line-height: 1;
                        border-radius: $extra-radius;
                    }
                }

                .error{
                    margin: 0;
                }

                label{
                    display: flex;
                    margin: 0;
                    padding: 0.4rem;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    font-size: 0.875rem;
                    line-height: 1.1;

                    input[type="radio"]{
                        @include sv-flex(0, 0, auto);
                        margin: 0;
                    }

                    &.selection{
                        .name{
                            @include sv-flex(1, 0, auto);
                            padding: 0 0.3rem;
                        }

                        .sample{
                            @include sv-flex(0, 0, 1.5rem);
                            display: inline-block;
                            height: 1.5rem;
                            border: 1px solid $black;
                        }
                    }

                    &.custom{
                        .name{
                            display: none;
                        }

                        .custom-input{
                            @include sv-flex(1, 0, calc(100% - 1.1rem));
                            padding-left: 0.3rem;

                            input{
                                margin: 0;
                                width: 100%;
                                height: 2rem;
                                border-bottom-right-radius: $extra-radius;
                            }
                        }
                    }

                    & + label,
                    & + .error{
                        border-top: 1px solid rgba($black, 0.8);
                    }
                }
            }
        }
    }

    // Formats selections
    .formats-part{
        form{
            margin-left: auto;
            margin-right: auto;
            max-width: 45rem;

            .checkbox-choices{
                .fields{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    label{
                        @include sv-flex(0, 0, calc(50% - #{$cell-gutter * 2}));
                        @include sv-scheme-colors($gray75-color-scheme);
                        margin: $cell-gutter;
                        padding: 0.8rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        line-height: 1.1;
                        border-radius: $extra-radius;

                        input{
                            margin: 0 0.3rem 0 0;
                        }
                    }
                }
            }
        }
    }

    // Output part
    .output-part{
        .fragments{
            .cell{
                margin-top: 1rem;

                &.active{
                    .content{
                        button{
                            @include sv-scheme-colors($seagreen3-color-scheme);
                        }
                    }
                }

                .content{
                    position: relative;

                    button{
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-transform: uppercase;
                        font-size: 0.6rem;
                        font-weight: bold;
                        border-bottom-right-radius: $extra-radius;
                    }

                    pre{
                        padding-top: 1.6rem;
                        height: 25rem;
                        overflow: auto;
                    }
                }

                textarea{
                    display: none;
                }
            }
        }
    }
}
