@import "util/util";

/*
 * Colors settings
 */

// Named colors
// ---------
$white: #ffffff;
$gray99: #fefefe;
$black: #000000;
$aliceblue: #edf8ff;
$gray75: #f3f5fb;
$gray50: #b5b8c4;
$gray25: #38393d;
$dodgerblue3: #1689b9;
$dodgerblue4: #0a507c;
$midnightblue: #022e4b;
$seagreen3: #3adb76;
$tomato3: #cc4b37;
$darkorange1: #f77f00;

// Text colors
// ---------
$sv-color-text-palette: (
    white: $white,
    seagreen3: $seagreen3,
    tomato3: $tomato3,
    aliceblue: $aliceblue,
    gray50: $gray50,
    gray25: $gray25,
    black: $black,
    dodgerblue3: $dodgerblue3,
    dodgerblue4: $dodgerblue4,
    gray75: $gray75,
    darkorange1: $darkorange1,
    gray99: $gray99,
    midnightblue: $midnightblue,
);

// Color schemes
// ---------
$white-color-scheme: (
    font-color: $gray25,
    background: $white,
);
$gray99-color-scheme: (
    font-color: $gray25,
    background: $gray99,
    border-color: $gray50,
    border-width: 1px,
    border-style: solid,
);
$gray25-color-scheme: (
    font-color: $gray75,
    background: $gray25,
);
$black-color-scheme: (
    font-color: $white,
    background: $black,
);
$gray75-color-scheme: (
    font-color: $gray25,
    background: $gray75,
);
$aliceblue-color-scheme: (
    font-color: $dodgerblue4,
    background: $aliceblue,
);
$gray50-color-scheme: (
    background: $gray50,
);
$dodgerblue3-color-scheme: (
    font-color: $white,
    background: $dodgerblue3,
);
$dodgerblue4-color-scheme: (
    font-color: $aliceblue,
    background: $dodgerblue4,
);
$midnightblue-color-scheme: (
    font-color: $aliceblue,
    background: $midnightblue,
);
$seagreen3-color-scheme: (
    background: $seagreen3,
);
$tomato3-color-scheme: (
    font-color: $white,
    background: $tomato3,
);
$darkorange1-color-scheme: (
    background: $darkorange1,
);

$sv-colors-schemes: (
    white: $white-color-scheme,
    gray99: $gray99-color-scheme,
    gray75: $gray75-color-scheme,
    gray50: $gray50-color-scheme,
    gray25: $gray25-color-scheme,
    black: $black-color-scheme,
    tomato3: $tomato3-color-scheme,
    darkorange1: $darkorange1-color-scheme,
    seagreen3: $seagreen3-color-scheme,
    aliceblue: $aliceblue-color-scheme,
    dodgerblue3: $dodgerblue3-color-scheme,
    dodgerblue4: $dodgerblue4-color-scheme,
    midnightblue: $midnightblue-color-scheme,
);

// Default color scheme
$sv-colors-scheme-default: $white-color-scheme;

// .underline features
$sv-underline-colors: $sv-color-text-palette;
$sv-underline-default-color: $black;

// Horizontal rule
$sv-hr-colors: $sv-underline-colors;
$sv-hr-default-color: $sv-underline-default-color;

// Button color scheme
$sv-button-colors-schemes: $sv-colors-schemes;

// Rewrite Foundation primary color to fit to palette
$foundation-palette: (
  primary: $dodgerblue3,
  secondary: #767676,
  success: $seagreen3,
  warning: $darkorange1,
  alert: $tomato3,
);
